body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #333;
}

#line_td{
    position: relative;
}

input {
  border: solid #555 1px;
  font-size: 1em;
}

button {
    background: url(../assets/Panduitga/button.gif) center no-repeat;
    width: 140px;
    height: 19px;
    border: 0px;
    padding: 0px;
    margin: 2px;
    text-align: center;
    line-height: 18px;
    color: #60A600;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
  color: #E07000;
}

#grow21 {
  margin: .25em 0 .6em;
  font-size: 2em;
}

#network-ui {
  display: none;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -0%);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
/*
  width: 50%;
  height: 50%;
*/
}
#network-ui table{
    float: left;
}
#network-ui .lobbyTable{
    width: 65%;
    height: 100%;
}
#network-ui .loginTable{
    width: 30%;
}

#room-list {
    
}

.content{
    color: #60A600;
    padding: 1em;
}

#info {
  position: absolute;
  z-index: 1000;
  width: 30%;
  margin-left: 65%;
  margin-right: 5%;
  font-size: 1.5em;
  float: right;
  text-align: right;
  display: none;
}

#gameOver {
  position: absolute;
  z-index: 1000;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  display: none;
}

#waitingForPlayer {
  width: 100%;
  height: 100%;
  padding: 6em 0 0;
  position: absolute;
  z-index: 1000;
  text-align: center;
  background: rgba(0,0,0,0.8);
  color: white;
  font-size: 2em;
  display: none;
}

#game {
  display: none;
}

#lobby {
  display: none;
}

#rooms {
  display: none;
}

#rooms h3 {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;
}

.indented {
  margin-left: 20px;
}

#new-room-ui {
  float: right;
  margin-top: 5px;
  display: none;
  width: 100%;
}


/**
* BORDERS
*/

.wbt {
	background: url(../assets/Panduitga/top.gif) repeat-x;
	width: 100%;
	height: 35px;
	vertical-align: top;
}
.wbl {
	background: url(../assets/Panduitga/left.gif) repeat-y bottom;
	width: 35px;
	vertical-align: top;
}
.wbm {
	background: url(../assets/Panduitga/background.gif);
}

.wbtl {
	width: 35px;
	height: 35px;
}

.wbtl {
	background: url(../assets/Panduitga/top_left_a.gif) no-repeat;
}

.wbtlb {
	background: url(../assets/Panduitga/top_left_b.gif) no-repeat;
	width: 55px;
	height: 35px;
	float: left;
}

.wbtrb {
	background: url(../assets/Panduitga/top_right_a.gif) no-repeat;
	width: 55px;
	height: 35px;
	float: right;
}
.wbtr {
	background: url(../assets/Panduitga/top_right_b.gif) no-repeat;
	height: 35px;
	width: 35px;
}

.wblp {
	background: url(../assets/Panduitga/top_left_pic.gif) no-repeat;
	width: 35px;
	height: 26px;
}

.wbr {
	background: url(../assets/Panduitga/right.gif) repeat-y bottom;
	width: 35px;
	vertical-align: top;
}
.wbrp {
	background: url(../assets/Panduitga/top_right_pic.gif) no-repeat;
	width: 35px;
	height: 26px;
}
.wbl2 {
	background: url(../assets/Panduitga/left.gif) repeat-y;
	vertical-align: bottom;
}
.wbr2 {
	background: url(../assets/Panduitga/right.gif) repeat-y;
	vertical-align: bottom;
}
.wbblp {
	background: url(../assets/Panduitga/bottom_left_pic.gif) no-repeat;
	width: 35px;
	height: 50px;
}
.wbbrp {
	background: url(../assets/Panduitga/bottom_right_pic.gif) no-repeat;
	width: 35px;
	height: 50px;
}

.wbbla {
	background: url(../assets/Panduitga/bottom_left_a.gif) no-repeat;
	width: 35px;
	height: 35px;
}

.wbb {
	background: url(../assets/Panduitga/bottom.gif) repeat-x;
	height: 35px;
	
}

.wbblb {
	background: url(../assets/Panduitga/bottom_left_b.gif) no-repeat;
	width: 10px;
	height: 35px;
	float: left;
}

.wbbrb {
	background: url(../assets/Panduitga/bottom_right_a.gif) no-repeat;
	width: 10px;
	height: 35px;
	float: right;
}

.wbbra {
	background: url(../assets/Panduitga/bottom_right_b.gif) no-repeat;
	width: 35px;
	height: 35px;
	float: right;
}


